---
import Layout from '../layouts/Layout.astro';
import Test from '../components/Test.jsx';

let title = "404 - SkyBeWorld";
---

<Layout title={title}>
	<main>
		<div>
            <h1>404 Error</h1>
            <p>Not Found</p>
        </div>
	</main>
</Layout>
