---
import Layout from '../layouts/Layout.astro';

let title = "404 - SkyBeWorld";
---

<Layout title={title}>
	<div class="main">
        <h1>404 Error</h1>
        <p>Not Found</p>
	</div>
</Layout>
