---
import Layout from '../layouts/Layout.astro';

let title = "404 - SkyBeWorld";
---

<Layout title={title}>
	<div class="main">
                <h1>4 0 4</h1>
                <p>We couldn't find the requested page you were looking for or it doesn't exist on the server.</p>
	</div>
</Layout>
