---
import Layout from '../layouts/Layout.astro';
import Navbar_Button from "../components/buttons/Navbar";
import abbreviate_number from "../utils/abbreviate_number";

let title = "SkyBeWorld";
let server_count = 1024;
let server_count_enabled = false;
---

<Layout title={title}>
	<div class="main">
		<img src="/icons/mobile_icon.png" width={200} height={200} />
		<h1>A multifunction bot for your discord server</h1>
		<h3>with EPIC customizations!</h3>
		<h4>using discord.js v14+, keep in mind we might restart our Discord Bot to keep our features up-to-date.</h4>
		<Navbar_Button client:load title={"Invite Discord Bot"} href={"/invite"} white={true} />
		{
			server_count_enabled ?
			(
				<h3>{server_count_enabled ? abbreviate_number(server_count) : "--"} servers using our Discord Bot right now! Join us!</h3>
			)
			: null
		}
	</div>
</Layout>
