---
import Layout from '../../../layouts/Layout.astro';
import Test from '../../../components/Test.jsx';

let title = "Test View - SkyBeWorld";
---

<Layout title={title}>
	<main>
		<Test />
	</main>
</Layout>
